<!DOCTYPE html>
<html>

    <head>
        <% include ../static/partials/head.ejs %>
    </head>

    <body>

        <main class="container">
        <% include ../static/partials/navbar.ejs %>

        <h1>Community Wall</h1>

        <p>A community wall to share information and strike up conversation.</p>

        <a href="/posts/new" class="btn btn-success">Write A Post</a>

        <ul class="list-group">
            <% posts.forEach((post) => { %>
                <li class="list-group-item">
                    <a href="/posts/<%= post.id %>"> <%= post.body %> </a>
                </li>
            <% }) %>
        </ul>

        </main>

    </body>

</html>